<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown
          type="Gumball05.GumballMachineRemote, GumballMachineRemote"
          url="http://localhost:8989/GumballMachineRemote.rem"/>
      </client>
    </application>
  </system.runtime.remoting>
</configuration>