<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown
          mode="Singleton"
          type="Gumball05.GumballMachineRemote, GumballMachineRemote"
          objectUri="GumballMachineRemote.rem"/>
      </service>
      <channels>
        <channel ref="http" port="8989"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>