$base-font-family: "Pretendard", -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto,
  Helvetica, Arial, sans-serif !default;

$spacing-unit: 8px !default;

$font-size-unit: 12px !default;
